# === 系统文件 ===
.DS_Store

# === Python 忽略 (加了 **/ 表示匹配所有子文件夹) ===
**/__pycache__/
**/*.py[cod]
**/venv/
*.env
*.db      # 建议也忽略本地数据库文件，防止覆盖线上

# === Next.js 忽略 ===
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/pnpm-debug.log*